@charset "UTF-8";

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 3px black;
    border-radius: 5px;
}

nav {
    background-color: rgb(21, 6, 224);
    box-shadow: 3px 4px black;
    padding: 5px;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav > a:hover {
    background-color: white;
    color: black;
    
}

article {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

article > aside {
    background-color: black;
    color: white;
    height: auto;
    width: 200px;
    padding: 5px;
    margin: top;
    border-radius: 20px 10px;
    box-shadow: 5px 4px blue
    ;
    
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0px;
;

}